{
    "root": true,
    "env": {
      "node": true,
      "vue/setup-compiler-macros": true
    },
  
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
    "plugins": ["@typescript-eslint", "jest"],
    "parser": "vue-eslint-parser",
    "parserOptions": {
      "parser": "@typescript-eslint/parser"
    },
    "rules": {
      "padding-line-between-statements": [
        "warn",
        { "blankLine": "always", "prev": "block-like", "next": "*" },
        { "blankLine": "always", "prev": "function", "next": "*" }
      ],
      "jest/expect-expect": [
        "warn",
        { "assertFunctionNames": ["expect", "cy.get**"] }
      ],
      "no-useless-escape": "off",
      "no-useless-catch": "off",
      "no-empty-pattern": "off",
      "no-prototype-builtins": "off",
      "prefer-rest-params": "off",
      "linebreak-style": [0, "unix"],
      "vue/no-v-html": "off",
      "vue/multi-word-component-names": "off",
      "@typescript-eslint/naming-convention": [
        "off",
        {
          "selector": ["function", "variable"],
          "format": ["camelCase"]
        }
      ],
      "@typescript-eslint/no-explicit-any": "off",
      "@typescript-eslint/no-non-null-assertion": "off",
      "@typescript-eslint/no-var-requires": "off",
      "@typescript-eslint/ban-ts-ignore": "off",
      "@typescript-eslint/ban-types": "off",
      "@typescript-eslint/no-empty-interface": "off",
      "@typescript-eslint/no-this-alias": "off",
      "@typescript-eslint/no-empty-function": "off",
      "@typescript-eslint/ban-ts-comment": "off"
    }
  }